*{
    box-sizing: border-box;
    margin: 0;
    color: rgb(192, 192, 192);
}

.main{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); 
}

.container{
    padding: 20px 30px;
    height: 100vh;
    width: 450px;
    background-color: rgb(14, 71, 145);
}

.header{
    margin-top: 10px;
    margin-bottom: 20px;
}

input:not([type="radio"]){
    display: block;
    margin-bottom: 30px;
    color: rgb(0,0,0);
}

.btn{
    height: 30px;
    width: 150px;
    margin: 50px 0;
    border-radius: 5px;
    color: rgb(0,0,0);
}

input:hover{
    background-color: coral;
    border: 2px solid crimson;
}

.btn:hover{
    background-color: rgb(154, 205, 50);
    border-color: yellow;
    color: rgb(0,0,0);
    border-radius: 5px;
    font-weight: 700;
}

